body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a{
	text-decoration: none;
	color: black;
	transition: color 0.2s;
}

a:hover{
	color: #4286f4;
}
 
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica;
	font-weight: lighter;
}

#header{
	width: 100%;
	height: 9vh;
	top: 0;
	border-bottom: 1px solid black;
	position: fixed;
	line-height: 9vh;
	background-color: white;
	z-index: 100;
}

#logo{
	height: 100%;
	width: 25%;
	margin-left: 2vw;
	float: left;
	border: 1px solid black;
}

#toolbar{
	height: 100%;
	width: 30%;
	margin-right: 5vw;
	float: right;
	border: 1px solid black;
}

.toolbarMember{
	height: 100%;
	width: 25%;
	display: inline-block;
	float: left;
	text-align: center;
	transition: border-bottom 0.3s;
}

.toolbarMember:hover{
	border-bottom: 5px solid #4286f4;
}

#bioSection{
	height: 91vh;
	width: 100%;
	/*background-color: #3498db;*/
	/*background-color: #4286f4;*/
	margin-top: 9vh;
}

#personalPicDiv{
	height: 100%;
	width: 50%;
	float: left;
}

#personalPic{
	height: 50vh;
	width: 50vh;
	margin: auto;
	position: relative;
	transform: perspective(1px) translateY(-50%);
	top: 50%;
	border-radius: 50%;
	border: 1px solid black;
	transition: box-shadow 0.3s;
}

#personalPic:hover{
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

#bioDiv{
	padding: 3vh 1vw;
	height: 100%;
	width: 50%;
	float: right;
}

#bio{
	margin: auto;
	position: relative;
	transform: perspective(1px) translateY(-50%);
	top: 50%;
	/*color: #fff;*/
}

p{
	line-height: 24px;
	font-size: 20px;
	margin: 2vh 1vh 2vh 1vh;
}

#projects{
	width: 100%;
	height: 50vh;
	border-top: 1px solid black;
	padding: 4vh;
}

#projectContainer{
	width: 80vw;
	height: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.project{
	width: 20vw;
	height: 100%;
	border: 1px solid black;
	display: inline-block;
	float: left;
	text-align: center;
	transition: 0.3s box-shadow;
}

.project:hover{
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.projectPicture{
	width: 100%;
	height: 80%;
	border-bottom: 1px solid black;
}

#webGame{
	width: 100%;
	height: 30vh;
	border-top: 1px solid black;
	padding: 2vh 2vw 0 2vw;
}

#webGame > *{
	text-align: center;
}

#webGame > h1{
	font-size: 32px;
	line-height: 44px;
}

#webGame > h3{
	font-size: 24px;
	line-height: 34px;
}

#contactMe{
	border-top: 1px solid black;
	padding: 2vh 2vw 0 2vw;
	text-align: center;
}

#emailInputField{
	margin: auto;
	display: block;
	height: 4vh;
	width: 70vw;
}

#submitButton{
	height: 4vh;
	width: 5vw;
	line-height: 4vh;
	border: 1px solid black;
	border-radius: 20%;
	margin: auto;
	margin-bottom: 2vh;
}

#footer{
	height: 9vh;
	width: 100%;
	border-top: 1px solid black;
}